[Unit]
Description=Check GitHub for a new Garden Journal every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
